<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'products/css/main.css' %}">
        <script src="{% static 'products/js/form.js' %}"></script>  
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container " id="main-container">
            <div class="pt-4 pb-4 card" id="content-container">
                <div class="table-responsive p-3" id="table-container">
                    <table class="table table-borderless table-hover mt-2 mb-2 text-muted">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Código</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Mensagem</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products %}
                                {% for product in products %}
                                    <tr class="align-middle">
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.code }}</td>
                                        <td>
                                            <span class="badge {% if product.type == 'Produto' %} bg-primary {% else %} bg-secondary {% endif %}">{{ product.type }}</span>
                                        </td>
                                        <td>{{ product.message }}</td>
                                        <td>
                                            <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal" type="button">Editar</a>
                                            <a class="btn btn-outline-danger btn-sm" href="{{ product.id }}/delete">Remover</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="10">
                                        <h3>Nenhum produto encontrado</h3>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <hr class="dropdown-divider">
                <div id="add-product-container" class="p-3">
                    <form id="add-product-form" class="row gx-3 gy-2 align-items-center justify-content-md-end" action="{% url 'store' %}" method="POST">
                        {% csrf_token %}
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="Nome" name="name">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="Código" name="code">
                        </div>
                        <div class="col-sm-3" name="type">
                            <select class="form-select text-muted" name="type">
                                <option value="Produto" selected>Produto</option>
                                <option value="Serviço">Serviço</option>
                            </select>
                        </div>
                        <div class="col-sm-3" name="message" id='message-input'>
                            <input type="text" class="form-control text-muted" placeholder="Mensagem" name="message" value="Mensagem teste 2">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>